<app-header></app-header>
<main class="main">
  <a
    routerLink="/contact"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >First Component</a
  >
  <section id="header-section">
    <app-call-to-action></app-call-to-action>
    <app-video></app-video>
  </section>
  <div class="separator"></div>
  <app-slider></app-slider>
  <div class="separator"></div>
  <app-advantage></app-advantage>
  <div class="separator"></div>
  <app-opinion-grid></app-opinion-grid>
</main>
<app-footer></app-footer>
<router-outlet />
